@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "font-awesome/font-awesome";
@import "core/variables";
@import "core/forms";

/* Color palette */

$light-gold: #ffcd59;
$dark-blue: #10384E;

/* Text styles */

.header-top {
	padding-top: 90px;
	font-family: $font-family-serif;
	font-size: 3.75rem;
	font-weight: bold;
	line-height: 1.17;
	text-align: left;
	color: #fff;
	padding-bottom: 0.6em;
	span {
	color: $light-gold;
	}
	@include media-breakpoint-down(md) {
		font-size: 1.85rem;
		padding-top: 1.5rem
	}
}

.header-second {
	font-size: 28px;
	line-height: 30px;
	text-align: left;
	font-weight: 400;

	color: $light-gold;
	@include media-breakpoint-down(sm) {
		font-size: 1rem;
		line-height: 1.5rem;
	}
}

.title {
	/* О нас: */
	font-weight: bold;
	font-family: $font-family-serif;
	font-size: 44px;
	color: $dark-blue;
	letter-spacing: 0;
	line-height: 66px;
	@include media-breakpoint-down(md) {
		font-size: 2rem;
		line-height: normal;
	}
}

// Element styles

	hr {
		color: #c9d5ec;
		@include media-breakpoint-down(sm) {
			display: none;
		}
	}
	.p-70 {
		padding-bottom: 70px;
	}

.btn.btn-yellow {
	font-weight: 600;
	font-size: 14px;
	text-transform: uppercase;
	color: #363636;
	letter-spacing: 0.7px;
	line-height: 46px;
	border-radius: 100px;
	background-image: linear-gradient(to bottom, #fdc513, #fbbc2a);
	padding: 0 18px;
	&:hover, &:active, &:focus {
		box-shadow: 0 14px 26px -12px rgba(246, 175, 52, 0.42), 0 4px 23px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(212, 159, 35, 0.2);
		background-color: darken(#FBBC2A, 10%);
	}
	@include media-breakpoint-down(sm) {
		font-size: 11px;
		text-transform: uppercase;
		color: #363636;
		letter-spacing: 0.2px;
	}
}

// section styles

html, body {
	min-height: 100%;
	background-image: linear-gradient(to bottom, #ffffff, #f2f2f2);
}

.first {
	background-image: url('../img/hero.png');
	background-position: 70% 20%;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	// padding-bottom: 130px;
	// padding-top: 8em;

	.btn.btn-yellow {
		margin-top: 3rem;
		@include media-breakpoint-down(sm) {
			margin-top: 1rem;
		}
	}
}

.navbar {
	padding-left: 0;
	padding-right: 0;
	@include media-breakpoint-down(sm) {
		padding: .5rem 1rem;
	}
}

#navbar-main {
	transition: all .3s ease;
	&.bg-dark {
    background-color: rgba(8, 34, 48, 0.85) !important;
		@include media-breakpoint-down(sm) {
			background: none !important;
			&.navbar-dark .navbar-toggler {
		    background-color: rgba(8, 34, 48, 0.85);
			}
		}
		#mainNav {
			border-bottom: none;
			min-height: 0;
		}
	}
	@include media-breakpoint-down(sm) {
		.collapse.show, .collapse {
			background: rgba(8, 34, 48, 0.85);
			border-radius: 5px;
			margin-top: 5px;
		}
	}
	.navbar-toggler {
		margin-left: auto;
		border: none;
		color: white !important;
	}
	.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
	}
	.container {
			padding: 0;
			border-bottom: 1px solid rgba(255, 255, 255, 0.3);
			@include media-breakpoint-down(md) { //нав сложен
			padding-bottom: 16px;
		}
	}
}

#mainNav {
min-height: 70px;
transition: all 0.3s ease;
.nav-item.active .nav-link {
	border-bottom: 1px solid $light-gold;
}
.nav-item.lightable {
	&.active , &:hover, &:focus {
		.nav-link {
			font-size: 12px;
			 @include media-breakpoint-down(lg) {
				 font-size: 11px;
				 padding-left: 0;
				 padding-right: 0;
			 }
			 transition: all 0.3s ease-out;
			 color: $light-gold;
			 border-bottom: 1px solid $light-gold;
		 }
	}
}
.nav-item .nav-link {
	 border-bottom: 1px solid rgba(0, 0, 0, 0);
	 @include media-breakpoint-down(sm){
		border-bottom: none;
		}
	 font-weight: 700;
	 padding: 0;
	 margin: .5rem 1rem;
	 display: inline-block;
	 font-size: 12px;
	 text-align: center;
	 white-space: nowrap;
	 color: #ffffff;
	 letter-spacing: 0.3px;
	 text-transform: uppercase;
	 @include media-breakpoint-down(lg) {
		 font-size: 11px;
		 padding-left: 0;
		 padding-right: 0;
	 }
	 @include media-breakpoint-down(md) {
		 margin: .25rem .5rem;
	 }
	 &.phone {
			font-family: $font-family-serif;
			font-size: 13px;
			color: #FFFFFF;
			font-weight: 600;
			white-space: nowrap;
			@include media-breakpoint-down(lg) {
				font-size: 12px;
			}
	 }
	}
}

.nav-item.logoed .nav-link {
	@include media-breakpoint-down(sm){
		padding: 0;
	}
	.logo {
	 border: 0;
	 height: 2.3em;
	 padding-bottom: 0.4em;
	 max-width: initial;
	 @include media-breakpoint-down(md){
		 max-width: 100%;
		 height: auto;
		 padding-bottom: 0.1em;
		}
		@include media-breakpoint-down(sm){
		 max-width: 70%;
		 height: auto;
		 margin-left: auto;
		 margin-right: auto;
		 padding-bottom: 0.0em;
		 }
	 }
 }

.second {
	.desc {
		font-family: $font-family-serif;
		font-size: 20px;
		font-weight: bold;
		line-height: 1.6;
		text-align: left;
		color: #484d53;
		border-left: 0.1em solid #fdc318;
		@include media-breakpoint-down(sm) {
			border-left: none;
			font-size: 1.09em;
		}
	}

	.container {
		padding-top: 70px;
	}
	.logo {
		padding-right: 10px;
		@include media-breakpoint-down(sm) {
			padding-right: 0;
			border-bottom: 0.1em solid #ffcd59;
	    padding-bottom: 16px;
		}
	}
	.card {
		p {
			margin-bottom: 42px;
			font-size: 18px;
			font-weight: 500;
		}
		margin-top: 54px;
		color: #484D53;
		letter-spacing: 0;
		line-height: 30px;
		padding: 50px 60px;
		@include media-breakpoint-down(md) {
			padding: 40px 35px;
		}
		text-align: center;
		box-shadow: 0 7.5px 15px 0 rgba(0, 0, 0, 0.05);
		border: none;
	}

	.grid {
		font-size: 16px;
		line-height: 24px;
		text-align: center;
		color: #484d53;
		.bord {
			@include media-breakpoint-down(sm) {
				border: none !important;
			}
		}
		.bord.f {
			border: 1px solid #e5e5e5;
			border-left: 0;
			border-top: 0;
		}
		.bord.s {
			border-bottom: 1px solid #e5e5e5;
		}
		.bord.t {
			border-right: 1px solid #e5e5e5;
		}
		img {
			height: 50px;
			width: auto;
			display: block;
			margin-bottom: 22px;
		}
	}
}

#why {
	padding-top: 80px;
}

.onethird {
		background-image: linear-gradient(to bottom, #fff, #f6f6f6);
	}

.third {
	padding-top: 70px;
	.title {
		padding-bottom: 35px;
	}
	.desc {
		font-size: 18px;
		font-weight: 500;
		line-height: 1.67;
		text-align: center;
		color: #484d53;
	}
	.subtitle {
		padding-top: 52px;
		padding-bottom: 44px;
		font-size: 22px;
		font-weight: 500;
		line-height: 1.36;
		text-align: center;
		color: #484d53;
	}
	.table {
		background-color: #fff;
		margin-bottom: 40px;
		box-shadow: 0 7.5px 15px 0 rgba(0, 0, 0, 0.05);
		border: solid 0.5px #e5e5e5;
		thead {
			background-color: $light-gold;
			th {
				padding-top: 15px;
				padding-bottom: 15px;
				@include media-breakpoint-down(sm) {
					padding-top: 5px;
					padding-bottom: 5px;
					letter-spacing: 0;
					font-size: 10px
				}
				text-transform: uppercase;
				font-size: 12px;
				line-height: 2.5;
				letter-spacing: 0.2px;
				text-align: left;
				color: #10384e;
				font-weight: 400;
				border-top: 1px solid #e5e5e5;
			}
		}
		td, th {
			// padding-top: 30px;
			// padding-bottom: 30px;
			border-top: 1px solid #e5e5e5;
			@include media-breakpoint-down(sm) {
				padding-left: 5px;
				padding-right: 5px;
				line-height: initial;
			}
		}
		th:first-of-type {
			padding-left: 30px;
			@include media-breakpoint-down(sm) {
				padding-left: 5px;
			}
		}
		td:last-of-type, th:last-of-type {
			padding-right: 30px;
			@include media-breakpoint-down(sm) {
				padding-right: 5px;
			}
		}
		tbody {
			font-size: 16px;
			line-height: 1.88;
			text-align: left;
			color: #5a6876;
			@include media-breakpoint-down(sm) {
				font-size: 10px;
			}
			th:first-of-type {
			font-family: $font-family-serif;
			font-weight: bold;
			}
			td:nth-last-of-type(2), td:last-of-type {
				text-align: right;
			}
		}
	}
}

.fourth {
	background-image: url("../img/graph.png");
	@include media-breakpoint-down(xl) {
		background-image: url("../img/graph-m.png");
	}
	@include media-breakpoint-down(sm) {
		// padding-top: 5em;
	}
	background-position: top center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 80px;
	padding-top: 15em;
	margin-top: -5em;
	background-color: #f6f6f6;
	#how {
		padding-top: 10em;
	}

	.desc {
		padding-top: 27px;
		font-size: 14px;
		line-height: 1.29;
		text-align: center;
		color: #484d53;
		// @include media-breakpoint-down(sm) {
		// 	font-size: 13px;
		// }
	}
	.row.images {
		img {
			width: 50% !important;
			@include media-breakpoint-down(sm) {
				width: 15% !important;
			}
			@include media-breakpoint-down(xs) {
				width: 25% !important;
			}
		}
		.desc {
			padding-top: 15px;
			margin-bottom: 2rem;
			width: 50%;
			margin-left: auto;
			margin-right: auto;
			@include media-breakpoint-up(md) {
				display: none;
			}
		}
	}
}

.fifth {
	background-image: url('../img/bg-form.jpg');
	background-position: center;
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: 150%;
	padding-bottom: 100px;
	@include media-breakpoint-down(md) {
		background-size: cover;
	}
	.title {
		color: $light-gold;
		padding-bottom: 47px;
		padding-top: 90px;
		@include media-breakpoint-down(md) {
			padding-top: 60px;
		}
	}
	form {
		padding-bottom: 70px;
	}
	.btn {
	}
	.desc {
	font-size: 12px;
	text-align: left;
	color: #81939d;
	margin-bottom: 10px;
	}
}

.sixth {
	padding-top: 70px;
	.title {
		padding-bottom: 48px;
	}
	a.phone {
		padding-bottom: 29px;
		font-size: 32px;
		font-weight: bold;
		font-family: $font-family-serif;
		color: #fcbf22;
		@include media-breakpoint-down(sm) {
			font-size: 25px;
		}
	}
	a.mail {
		font-size: 18px;
		color: #10384e;
		text-decoration: underline;
		font-weight: 400;
		img {
			height: 1em;
		}
	}
	.embed-responsive {
		margin-top: 60px;
		@include media-breakpoint-down(sm) {
    padding-top: 110.85714286%;
		}
	}
	#map {
		pointer-events: none;
	&.clicked {
		pointer-events: auto;
	}
	.content {
		background-color: $light-gold;
		.card {
			top: 15px;
			padding-top: 9px;
			.desc {
				font-size: 7px;
			  line-height: 1.43;
			  text-align: center;
			  color: #484d53;
			}
		}}
	}
}

.footer {
	.logo-main {
		margin-bottom: 28px;
		height: 1.3em;
	}
	padding-top: 54px;
	padding-bottom: 73px;
	background-color: #10384e;
	.desc {
		font-size: 12px;
		line-height: 18px;
		line-height: 1.5;
		text-align: left;
		color: #81939d;
		span {
			color: $light-gold;
		}
	}
	.d-flex div:not(:first-child) {
		padding-left: 9.5px;
	}
}

div.wpcf7 {
	overflow: hidden !important;
}

div.wpcf7-spam-blocked,
div.wpcf7-validation-errors,
div.wpcf7-mail-sent-ng,
div.wpcf7-mail-sent-ok {
	font-weight: 600 !important;
	font-size: 16px !important;
	color: rgba(255, 255, 255, 0.8) !important;
	text-transform: none !important;
	margin-left: auto !important;
	margin-right: auto !important;
	border: none !important;
	&::before {
		font: normal normal normal 1em/1 FontAwesome;
	}
}

div.wpcf7-mail-sent-ok {
	background-color: none !important;
	border: none !important;
	&::before {
		content: "\f00c" !important; //check
		color: #ffcd59 !important;
	}
}

div.wpcf7-mail-sent-ng {
	background-color: none !important;
	border: none !important;
	&::before {
		content: "\f12a" !important; //exclamation
		color: #fb0a04 !important;
	}
}

div.wpcf7-spam-blocked {
	background-color: none !important;
	border: none !important;
	&::before {
		content: "\f12a"; //exclamation
		color: #fb0a04;
	}
}

div.wpcf7-validation-errors {
	background-color: none !important;
	border: none !important;
	&::before {
		content: "\f12a"; //exclamation
		color: #fb0a04;
	}
}

@media all {
    span.wpcf7-not-valid-tip {
        color: #fff !important;
        font-size: 1em !important;
        font-weight: normal !important;
        display: block !important;
				padding-bottom: 1em;
    }
}
