<div class="first d-flex align-items-center" id="first">

  <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="navbar-main">
    <div class="container">
      <div class="row w-100 no-gutters align-items-center">
        <div class="nav-item col-9 col-md-3 logoed">
          <a href="#first" class="text-md-left nav-link">
            <img src="assets/img/logo.png" class="img-fluid logo">
          </a>
        </div>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNav" aria-controls="mainNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

    <div class="collapse navbar-collapse col-lg-9 col justify-content-end mx-auto" id="mainNav">
      <ul class="navbar-nav align-items-center text-center row no-gutters">
        <li class="nav-item col-lg lightable">
          <a class="nav-link" href="#second">О нас</a>
        </li>
        <li class="nav-item col-lg lightable">
          <a class="nav-link" href="#why">Преимущества</a>
        </li>
        <li class="nav-item co-mdl lightable">
          <a class="nav-link" href="#third">Продукты</a>
        </li>
        <li class="nav-item col-lg lightable">
          <a class="nav-link" href="#how">Как мы работаем</a>
        </li>
        <li class="nav-item col-lg lightable">
          <a class="nav-link" href="#sixth">Контакты</a>
        </li>
        <li class="nav-item col-lg">
          <a class="nav-link phone" href="tel:7(499)574-02-36">+7 (499) 574-02-36</a>
        </li>
      </ul>
    </div>

  </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-md-9 col-10 col-sm-10 pl-4 pl-sm-0 py-5 py-md-0 my-3 my-md-0">
      <h1 class="header-top">
        <span>Индивидуальные структурные продукты </span><br>от&nbsp;ведущих эмитентов
      </h1>
      <h2 class="header-second">
        Максимальная защищенность и&nbsp;доходность ваших активов
      </h2>
        <a class="btn btn-yellow page-scroll" id="triggered" href="#form">
          Получить консультацию
        </a>
      </div>
      <div class="mx-auto d-none d-md-block pt-5 pt-md-4">
        <img src="assets/img/parachute.png" alt="parachute" class="img-fluid parachute">
      </div>
    </div>
  </div>
</div>
