
<div class="footer">
  <div class="container">
    <img src="assets/img/footer/b-smal-logo.png" alt="" class="img-fluid logo-main">
    <div class="row">
      <div class="col-md-3">
        <p class="desc">Threesixty Elements S.A. является <span>зарегистрированным инвестиционным консультантом (RIA)</span> и&nbsp;регулируется Комиссией по&nbsp;ценным бумагам и&nbsp;биржам США, SEC #801-107170, является членом <span>FINRA</span></p>
        <p class="desc">
        Телефоны наших представительств: <br>
        БВО: +1&nbsp;888&nbsp;664 4055 <br>
        Лондон: +44 20 3034 0055 <br>
        Москва: +7&nbsp;495&nbsp;109 0055</p>
        <div class="d-flex align-items-center">
          <div class=""><img src="assets/img/footer/logo-fsc.png" alt="" class="img-fluid"></div>
          <div class=""><img src="assets/img/footer/sec-seal.png" alt="" class="img-fluid"></div>
          <div class=""><img src="assets/img/footer/esma.png" alt="" class="img-fluid"></div>
          <div class=""><img src="assets/img/footer/finra.png" alt="" class="img-fluid"></div>
        </div>
      </div>
      <div class="col-md-8 pt-4 pt-md-0 ml-auto">
        <p class="desc">
          Threesixty Elements, компания, зарегистрированная на&nbsp;Британских Виргинских островах 8&nbsp;июля 2015 и&nbsp;<span>лицензированная Комиссией по&nbsp;финансовым услугам (Financial Services Commission (&laquo;FSC&raquo;))</span> на&nbsp;основании акта &laquo;О&nbsp;ценных бумагах и&nbsp;инвестиционном бизнесе (Securities and Investment Business Act, 2010 (&laquo;SIBA&raquo;)) и&nbsp;нормативно-правовых документов &laquo;Об&nbsp;инвестиционном бизнесе (Одобренных управляющих) (Investment Business (Approved Managers) Regulations, 2012) на&nbsp;Британских Виргинских островах (&laquo;БВО&raquo;), (Сертификат No. IBR/AIM/15/011) для осуществления инвестиционного управления или инвестиционного консультирования различными видами фондов, зарегистрированных на&nbsp;БВО или в&nbsp;иных признаваемых юрисдикциях и&nbsp;осуществления указанных выше действий для лиц (юридических и&nbsp;физических) вне территории БВО на&nbsp;непризнаваемых территориях и&nbsp;иных лиц, которых FSC одобряет в&nbsp;каждом конкретном случае в&nbsp;иных признаваемых юрисдикциях.
          <br>Описываемые услуги не&nbsp;предназначены для граждан и&nbsp;резидентов США.
        </p>

        <p class="desc">
          Все материалы, опубликованные от&nbsp;имени компании, и&nbsp;содержащиеся в&nbsp;них сведения, носят исключительно информационный характер и&nbsp;не&nbsp;могут рассматриваться ни&nbsp;как приглашение или побуждение сделать оферту, ни&nbsp;как просьба купить или продать ценные бумаги/другие финансовые инструменты, или осуществлять какую-либо иную инвестиционную деятельность. Представленная информация подготовлена на&nbsp;основе источников, которые, по&nbsp;мнению авторов, являются надёжными, но&nbsp;при этом отражает исключительно мнение авторов относительно анализируемых объектов. Несмотря на&nbsp;то, что материал был подготовлен с&nbsp;максимально возможной тщательностью, ни&nbsp;его авторы, ни&nbsp;компания не&nbsp;заявляют и&nbsp;не&nbsp;гарантируют ни&nbsp;прямо ни&nbsp;косвенно его точность и&nbsp;полноту. Любая информация и&nbsp;любые суждения, приведённые в&nbsp;данном материале, являются суждениями, актуальными на&nbsp;момент публикации настоящего материала, и&nbsp;могут быть изменены без предупреждения. Ни&nbsp;компания, ни&nbsp;ее&nbsp;сотрудники не&nbsp;несут ответственности за&nbsp;какие-либо потери, возникшие в&nbsp;результате использования настоящего материала и&nbsp;в&nbsp;любой другой связи с&nbsp;ним.
        </p>
        <div class="justify-content-between d-flex pb-3">
          <a href="https://elements.vi/en/terms-of-use">Terms of Use</a>
          <a href="https://elements.vi/en/risk-disclosure">Risk Disclosure</a>
          <a href="https://elements.vi/en/privacy-policy">Privacy Policy</a>
        </div>
      </div>
    </div>
    <p class="desc">
      © 360 Elements, 2017
    </p>
  </div>
</div>
