<div class="fourth">
  <div class="container-fluid text-center" id="fourth">
    <div class="col-xl-9 mx-auto" id="how">
    <h1 class="title mx-auto text-center p-70 col-9 col-sm-6 col-lg-12">
      Как мы работаем
    </h1>
    <div class="row align-items-center images">
      <div class="col-md-2">
        <img src="assets/img/w/1.png" alt="" class="img-fluid mx-auto">
        <p class="desc">Консультация по&nbsp;телефону позволит нам понять ваши интересы  и&nbsp;договориться о&nbsp;встрече</p>
      </div>
      <div class="col-md">
        <hr>
      </div>
      <div class="col-md-2">
        <img src="assets/img/w/2.png" alt="" class="img-fluid mx-auto">
        <p class="desc">
          Выбор и&nbsp;формирование индивидуального структурного продукта на&nbsp;встрече
        </p>
      </div>
      <div class="col-md">
        <hr>
      </div>
      <div class="col-md-2">
        <img src="assets/img/w/3.png" alt="" class="img-fluid mx-auto">
        <p class="desc">
          Выпуск индивидуального структурного продукта международными эмитентами
        </p>
      </div>
      <div class="col-md">
        <hr>
      </div>
      <div class="col-md-2">
        <img src="assets/img/w/4.png" alt="" class="img-fluid mx-auto img-lg">
        <p class="desc">
          Успешную покупку продукта обеспечивает Euroclear
        </p>
      </div>
      <div class="col-md">
        <hr>
      </div>
      <div class="col-md-2">
        <img src="assets/img/w/5.png" alt="" class="img-fluid mx-auto img-lg">
        <p class="desc">
          Перевод структурного продукта в&nbsp;депозитарий любого удобного для вас банка
        </p>
      </div>
    </div>

    <div class="row align-items-center d-md-flex d-none">
      <div class="col-2">
        <p class="desc">Консультация по&nbsp;телефону позволит нам понять ваши интересы  и&nbsp;договориться о&nbsp;встрече</p>
      </div>
      <div class="col">
        <hr class="invisible">
      </div>
      <div class="col-2">
        <p class="desc">
          Выбор и&nbsp;формирование индивидуального структурного продукта на&nbsp;встрече
        </p>
      </div>
      <div class="col">
        <hr class="invisible">
      </div>
      <div class="col-2">
        <p class="desc">
          Выпуск индивидуального структурного продукта международными эмитентами
        </p>
      </div>
      <div class="col">
        <hr class="invisible">
      </div>
      <div class="col-2">
        <p class="desc">
          Успешную покупку продукта обеспечивает Euroclear
        </p>
      </div>
      <div class="col">
        <hr class="invisible">
      </div>
      <div class="col-2">
        <p class="desc">
          Перевод структурного продукта в&nbsp;депозитарий любого удобного для вас банка
        </p>
      </div>
    </div>
    </div>
  </div>
</div>
