<!-- onethird -->
<div class="onethird">

<div class="second" id="second">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <h1 class="title text-center col-12 mb-5" id="triggered">О нас</h1>
      <div class="col-lg-2 col-md-3 col-5 mx-auto mx-md-0 text-center">
        <img src="assets/img/sec-logo.png" alt="" class="img-fluid logo">
      </div>
      <p class="desc bord col-xl-6 col-md-8 col-12 text-center text-md-left pt-md-0 pt-3">
        Услуги финансового консультирования предоставляет лицензированная инвестиционная компания Threesixty Elements S.A., под регуляцией комиссии по&nbsp;ценным бумагам США
      </p>

      <div class="col-xl-9 col-md-10 col-11 card">
        <p>Мы&nbsp;работаем только с&nbsp;ведущими международными эмитентами, что гарантирует исполнение обязательств эмитентом, т.е. сохранность ваших средств</p>
        <div class="row align-items-center">
          <div class="col-md pb-md-0 pb-3">
            <img src="assets/img/commerzbank-logo.png" alt="" class="img-fluid w-75">
          </div>
          <div class="col-md py-3 pt-md-0 ml-auto">
            <img src="assets/img/hsbc-converted.png" alt="" class="img-fluid w-50">
          </div>
          <div class="col-md ml-auto">
            <img src="assets/img/logo-credit-suisse.png" alt="" class="img-fluid w-75">
          </div>
        </div>
      </div>
      </div>

      <div class="w-100" id="why"></div>
      <h1 class="title text-center p-70 col-11 mx-auto col-md-12">
        Почему мы лучше других
      </h1>
      <div class="row grid col-xl-6 col-md-8 mx-auto">
          <div class="col-md col-9 mx-auto bord f p-md-5 p-2">
            <img src="assets/img/1.png" alt="" class="img-fluid mx-auto">
            Прозрачность на всех этапах работы
          </div>
          <div class="col-md col-9 mx-auto bord s p-md-5 p-2">
            <img src="assets/img/2.png" alt="" class="img-fluid mx-auto">
            Отсутствие лишних посредников
          </div>
          <div class="w-100"></div>
          <div class="col-md col-9 mx-auto bord t p-md-5 p-2">
            <img src="assets/img/3.png" alt="" class="img-fluid mx-auto">
            Доходность выше конкурентов
          </div>
          <div class="col-md col-9 mx-auto p-md-5 p-2">
            <img src="assets/img/4.png" alt="" class="img-fluid mx-auto ">
            Максимальная защищенность ваших инвестиций
          </div>
      </div>

    </div>
</div>

<div class="third" id="third">
  <div class="container text-center">
    <h1 class="title">Структурные продукты</h1>
    <div class="row">
      <div class="col-xl-9 col-11 mx-auto">
        <p class="desc">
          Мы&nbsp;предлагаем как готовые структурные продукты, так и&nbsp;формирование индивидуального продукта, в&nbsp;соответствии с&nbsp;вашим инвестиционным профилем
        </p>
        <h2 class="subtitle">
          Примеры наших продуктов
        </h2>
      </div>

      <table class="table col-xl-11 mx-auto">
        <thead>
          <tr>
            <th>Ставка</th>
            <th>Валюта</th>
            <th>Составляющие</th>
            <th class="text-right">Барьер</th>
            <th class="text-right">Срок</th>
          </tr>
        </thead>
        <tbody>
          <tr class="f">
            <th scope="row">10.40%</th>
            <td>USD</td>
            <td>Apple, Cisco Systems, Intel</td>
            <td>69.00%</td>
            <td>1.25 года</td>
          </tr>
          <tr class="f">
            <th scope="row">7.20%</th>
            <td>USD</td>
            <td>Bank of America</td>
            <td>69.00%</td>
            <td>2 года</td>
          </tr>
          <tr class="f">
            <th scope="row">10.20%</th>
            <td>EUR</td>
            <td>BNP Paribas, Credit Agricole, Societe Generale</td>
            <td>69.00%</td>
            <td>1 год</td>
          </tr>
          <tr class="f">
            <th scope="row">7.40%</th>
            <td>EUR</td>
            <td>Adidas, BASF, Siemens</td>
            <td>69.00%</td>
            <td>1.25 года</td>
          </tr>
          <tr class="f">
            <th scope="row">10.00%</th>
            <td>CHF</td>
            <td>Adecco, Vifor Pharma, Zurich Insurance</td>
            <td>75.00%</td>
            <td>1 год</td>
          </tr>
          <tr class="f">
            <th scope="row">7.00%</th>
            <td>CHF</td>
            <td>Credit Suisse</td>
            <td>70.00%</td>
            <td>1 год</td>
          </tr>
        </tbody>
      </table>

      <a class="btn btn-yellow mx-auto page-scroll" href="#form">
        Подобрать продукт
      </a>
    </div>
  </div>
</div>

<!-- onethird -->
</div>
