<div class="sixth" id="sixth">
  <div class="text-center">
        <h1 class="title">
          Свяжитесь с нами
        </h1>
        <a class="phone" href="tel:+7(499)574-02-36">
          +7 (499) 574-02-36
        </a>

      <div class="mailer">
        <a class="mail" href="mailto:info@360elements.ru"><img src="assets/img/email.png" alt="" class="img-fluid mr-3">info@360elements.ru</a>
      </div>

        <div class="embed-responsive embed-responsive-21by9 no-gutters">
          <div id="map" class="embed-responsive-item"></div>
        </div>

  </div>
</div>
